@{await Html.RenderPartialAsync("_Navbar");}
<div>
    <div>
        <a class="text-decoration-none" href="@Url.Action("Index","Roles")">
            <h3>
                Панель разработчика, управление ролями
            </h3>
        </a>
    </div>
    <div>
        <a class="text-decoration-none" href="@Url.Action("List","Moderator")">
            <h3>
                Панель разработчика, управление людьми
            </h3>
        </a>
    </div>
</div>