@model ChangePassword
@{
    bool authentificated = User.Identity.IsAuthenticated;
    OrderNavbarViewModel _viewmodel = new OrderNavbarViewModel();
    if (authentificated == true)
    {
        OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = true, Email = Model.Email };
        if (ViewBag.Created == false)
        {
            viewModel.Created = false;
            _viewmodel = viewModel;
        }
        else
        {
            viewModel.Created = true;
            _viewmodel = viewModel;
        }
    }
    else
    {
        OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
        _viewmodel = viewModel;
    }
}
<div class="log-in-out-background edit-background">
    @{ await Html.RenderPartialAsync("_Navbar", _viewmodel);}
    <div class="form-center-box">
        <h1>Измените пароль</h1>
        <form method="post" asp-controller="Account" asp-action="EditPassword">
            <div class="input-group">
                <div class="input-field disabled">
                    <i class="fa-solid fa-user" style="color: #ff7300;"></i>
                    <input asp-for="Email" readonly placeholder="Почта" value="@Model.Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-field ">
                    <i class="fa-solid fa-lock" style="color: #ff7300;"></i>
                    <input asp-for="Password" placeholder="Пароль" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="btn-field">
                    <input type="submit" value="Сохранить" />
                </div>
            </div>
        </form>
    </div>
</div>
