@model RegisterViewModel
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
}
<div class="log-in-out-background">
    @{await Html.RenderPartialAsync("_Navbar", new { model = viewModel });}
    <div class="form-center-box">
        <h1>Register</h1>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input asp-for="Name" placeholder="Имя" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-at"></i>
                    <input asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="input-field">
                    <i class="fa-regular fa-calendar-days"></i>
                    <input asp-for="Year" placeholder="Год рождения" />
                    <span asp-validation-for="Year"></span>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user-doctor"></i>
                    <input asp-for="FutureJob" placeholder="Будущая профессия" />
                    <span asp-validation-for="FutureJob"></span>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="Password" placeholder="Пароль" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="PasswordConfirm" placeholder="Подтвердите пароль" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
                <div class="btn-field">
                    <input type="submit" value="Зарегистрироваться" />
                </div>
                <div class="input-field">
                </div>
            </div>
        </form>
    </div>
</div>