@model SubCategoryViewModel
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
}
<div class="log-in-out-background add-background">
    @{await Html.RenderPartialAsync("_Navbar", viewModel);}
    <div class="form-center-box">
        <h1>Add Product</h1>
        <form asp-action="AddSubCategory" asp-controller="ProductModerator" asp-antiforgery="true" method="post">
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-ruble-sign" style="color: #ff7300;"></i>
                    <input asp-for="Price" type="number" placeholder="Цена" />
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="input-field">
                    <i class="fa-brands fa-discourse" style="color: #ff7300;"></i>
                    <input asp-for="Feature" placeholder="Описание" />
                    <span asp-validation-for="Feature"></span>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-code" style="color: #ff7300;"></i>
                    <input asp-for="Url" placeholder="Ссылка на картинку" />
                    <span asp-validation-for="Url"></span>
                </div>
                <input asp-for="ProductId" type="hidden" />
                <input asp-for="ProductSubCategoryId" type="hidden" />
                <input asp-for="_Case" type="hidden"/>
                <div class="btn-field">
                    <input type="submit" value="Создать" />
                </div>
            </div>
        </form>
    </div>
</div>