@model Product
@inject IProductMethods<Product> _productMethods
@inject ICategoryMethods<Category> _categoryMethods
@{
    List<Category> categories = await _categoryMethods.GetAll();
}
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
}
<div class="log-in-out-background add-background">
    @{await Html.RenderPartialAsync("_Navbar", viewModel);}
    <div class="container mh-100 flex-column d-flex">
        @{
            foreach (Category category in categories)
            {
                <div class="col-3 justify-content-between">
                    <h2>@category.Name</h2>
                    <a class="btn btn-success p-3" href="@Url.Action("CreateProductRelationships", "ProductModerator", new { productId = Model.Id, categoryId = category.Id })"><h3>Закрепить</h3></a>
                </div>
            }
        }
    </div>
</div>