@model IEnumerable<User>
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
}
@{await Html.RenderPartialAsync("_Navbar", viewModel);}
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-name="@user.UserName">Права доступа</a>
            </td>
        </tr>
    }
</table>