@model List<UserAtSite>
@{
    OrderNavbarViewModel viewModel = new OrderNavbarViewModel() { Authentificated = false };
}
@{await Html.RenderPartialAsync("_Navbar", viewModel);}
<div>
    @{ foreach (UserAtSite user in Model)
        {
            <div>
                @{
                    if (user.MainPicture != null)
                    {
                        <a asp-action="Visitor" asp-controller="Home" asp-route-name="@user.Name"><img class="img-fluid" src="@user.MainPicture" /></a>
                    }
                    else
                    {
                        //Сделать страницу с каждым отдельным человеком
                        <a asp-action="Visitor" asp-controller="Home" asp-route-name="@user.Name"><img class="img-fluid" src="~/assets/img/default.jpg" /></a>
                    }
                }
            </div>
        }
    }
</div>
<a asp-controller="Account" asp-action="AdminArea">
    <h4>
        Панель для администрации
    </h4>
</a>