<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/StyleFusion.css"/>
    <script src="https://kit.fontawesome.com/398aab1134.js" crossorigin="anonymous"></script>
</head>
<body class="body-back-img">
        @RenderBody()
    <script src="~/js/bootstrap/bootstrap.bundle.js"></script>
</body>
</html>